sudo: required

services:
  - docker

language: python
python:
  - "3.5"

script:
  - sh .travis/deploy_dockerhub.sh

after_success:
  #- test "$TRAVIS_BRANCH" = "master" && sh .travis/deploy_heroku.sh
  - sh .travis/deploy_heroku.sh

notifications:
    slack: saptadip-sarkar:uVBlKJDOikQcHZH7xa8Ejfoh
