<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Placement Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
   <div class="navbar-header">
     <a class="navbar-brand" href="/">
       <img style="max-width:150px; margin-top:-30px; height: 120px; margin-left: -15px" src="{{ url_for('static', filename='images/mainlogo.png') }}">
     </a>
   </div>

    <div class="container-fluid">
        <a href="/dashboard">
            <button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 15px; margin-bottom: 5px; height: 44px; margin-right: 15px">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> &nbsp;Get Started
            </button>
        </a>

        <ul class="nav navbar-nav navbar-right">

		  <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
			<h5>

			<a href="/support-donate/"> <span class="glyphicon glyphicon-heart"></span> Support&nbsp;&nbsp;&nbsp;</a>

			<a role="presentation" data-toggle="modal" data-target="#exampleModal" href="#"><span class="glyphicon glyphicon-log-in"></span> Login&nbsp;&nbsp;&nbsp;</a>

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="exampleModalLabel">Login</h4>
				  </div>
				  <div class="modal-body">
					  <div class="container-fluid">
						  <form action="" class="form-inline" method="post">
							<input type="text" class="form-control" placeholder="Username" name="username" value="">
							 <input type="password" class="form-control" placeholder="Password" name="password" value="">
							<input class="btn btn-primary" type="submit" value="Login">
						  </form>

							<div class="container">
							<br>
						   <p>No account? <a href='/register'>Register here</a>.</p>
						   <br>

						  </div>
					</div>
				  </div>

				</div>
			  </div>
			</div>

		    <a role="presentation" class="active" data-toggle="modal" data-target="#register" href="#"><span class="glyphicon glyphicon-pencil"></span> Sign up</a><h5>
		    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
			    <div class="modal-content">
			        <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				        <h4 class="modal-title" id="exampleModalLabel">Register</h4>
			        </div>
			    <div class="modal-body">
                    <div class="container">
						<form method=post action="/register">
						  <dl>

                              <dt><label for="username">Username</label>
                              <dd><input id="username" name="username" type="text" value="">

                              </dd>


                              <dt><label for="email">Email Address</label>
                              <dd><input id="email" name="email" type="text" value="">

                              </dd>


                              <dt><label for="password">New Password</label>
                              <dd><input id="password" name="password" type="password" value="">

                              </dd>


                              <dt><label for="confirm">Repeat Password</label>
                              <dd><input id="confirm" name="confirm" type="password" value="">

                              </dd>


                              <dt><label for="accept_tos">I accept the <a href="/about/tos" target="blank">Terms of Service</a> and <a href="/about/privacy-policy" target="blank">Privacy Notice</a> (updated Jan 22, 2015)</label>
                              <dd><input id="accept_tos" name="accept_tos" type="checkbox" value="y">

                              </dd>

						  </dl>
						  <p><input type=submit value=Register>
						</form>

					</div>
			  	</div>
			</div>
		  </div>
		</div>
	   </div>
      </ul>
	 </ul>

    </div>

</header>


<body>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>




		<div class="container"  style="align:center; width:50%; height:50%;">

		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
			<div class="item active">
			  <img src="{{ url_for('static', filename='images/slide-image1.jpg') }}" >
			  <div class="carousel-caption">
				<h3>Collaborate</h3>
				  <p>Working together makes the difference</p>
			  </div>
			</div>
			<div class="item">
			  <img src="{{ url_for('static', filename='images/slide-image2.jpg') }}" >
			  <div class="carousel-caption">
				<h3>Go Digital</h3>
				  <p>Use cutting edge technology to grow your business</p>
			  </div>
			</div>
			<div class="item">
			  <img src="{{ url_for('static', filename='images/slide-image3.jpg') }}">
			  <div class="carousel-caption">
				<h3>Higher Revenue</h3>
				  <p>Take smart decisions to grow your money</p>
			  </div>
			</div>
  		</div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		  </a>
		</div>

	</div>

		Deployment Date:

   		<p id="demo"></p>

		<script>
		document.getElementById("demo").innerHTML = Date();
		</script>

</body>


</html>